@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./mixins";

body{
    width: 100%;
}
ul{
    margin-left: 70%;
}

i{
    margin-right: 7px;
}
.i{
    font-size: 30px;
}
.button{
    background-color:black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
nav{
    width: 100%;
}