@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./mixins";

body{
    width: 100%;
}
ul{
    margin-left: 70%;
}

i{
    margin-right: 7px;
}
.i{
    font-size: 30px;
}
.bottone{

    border-radius: 50%;
    width: 20px;
    height: 20px;
}
nav{
    width: 100%;
}